@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #3c3e41;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #5a5c61;
  }
}

body {
  background-image: url("https://images.unsplash.com/photo-1549558549-415fe4c37b60");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
